@import url(./styles/home.css);
@import url(./styles/header.css);
@import url(./styles/service.css);
@import url(./styles/rate.css);
@import url(./styles/review.css);

:root {
  font-family: "Roboto", Arial, sans-serif;

  --height-header-desktop: 90px;
  --height-header-tablet: 74px;
  --height-header-mobile: 59px;
  --container-background: #fffff3;
  --container-text:#333333;
  --container-other:#5c5c5c;
  --container-pink:#f7cac9;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-family: "DM Serif Display", serif;
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

a{
  color: black;
}

body{
  background-color: var(--container-background);
}


