@import url(./styles/home.css);
@import url(./styles/header.css);

:root {
  font-family: "Roboto", Arial, sans-serif;

  --height-header-full: 80px;
  --height-header-mobile: 50px;
}

h1{
  font-family: "Abril Fatface", cursive;
  font-family: "DM Serif Display", serif;
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* overflow-x: hidden; */
}
