.header__book,
.header__nav{
  display:none;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:100%;
}

.header__menu{
  color:var(--container-other);
}

.header__logo{
  padding:0px 0px 4px;
}

@media screen and (max-width: 519px) {
  .header__container{
    height: var(--height-header-mobile);
    padding: 0 1rem;
  }

  .header__logo{
    color:var(--container-text);
    font-size:large;
    font-weight:700;
  }

}

@media screen and (min-width:520px) and (max-width:809px){
  .header__container{
    height: var(--height-header-tablet);
    padding: 0 1.875rem;
  }

  .header__logo{
    font-size:larger;
    font-weight: 800;
  }
}

@media screen and (min-width:810px) and (max-width:1199px){
  .header__container{
    height: var(--height-header-desktop);
    padding: 0 1.875rem;
    width: 100%;
  }
  .header__logo{
    font-size:x-large;
    font-weight: 800;
  }
}

@media screen and (min-width:1200px){
  .header__container{
    height: var(--height-header-desktop);
    padding: 0 1.875rem;
    width: 100%;
  }

  .header__container > *
  {
    display:flex;
  }

  .header__nav ul{
    display: flex;
    gap:1.6rem;
  }

  .header__logo{
    font-size:x-large;
    font-weight: 800;
  }

  .header__nav-list li,
  .header__book{
    font-size:18px;
    font-weight: 500;
  }

  .header__book{
    background-color: var(--container-pink);
    border-radius: 6px;
    padding: 8px 21px;
    letter-spacing: -0.05em;
    transition: all 0.3s;
  }

  .header__book:hover{
    transform:translateY(-3px);
  }
  .header__menu{
    display:none;
  }
}
