.header {
  display: flex;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 9%;
  box-sizing: border-box;
}

/* mobile */
@media screen and (max-width: 768px) {
  .header {
    height: var(--height-header-mobile);
  }

  .header__nav {
    display: none;
  }

  .header h1 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.025rem;
  }

  .header__logo {
    padding: 0px 15px;
  }

  /*checkbox to menu button */
  .header__menu {
    all: unset;
    display: block;
    width: var(--height-header-mobile);
    height: var(--height-header-mobile);
    background-image: url(../img/icons8-menu.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu:checked {
    background-color: rgba(0, 0, 0, 0.37);
  }

  .header__menu:checked + .header__nav {
    display: inherit;
    position: absolute;
    top: var(--height-header-mobile);
    right: 0;
    background-color: white;
    padding-bottom: 1em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .header__nav-item {
    width: 100vw;
    text-align: center;
  }
  .header__nav-item a {
    width: 100vw;
  }
  .header__nav-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
  }
}
/* desktop */
@media screen and (min-width: 769px) {
  .header {
    height: var(--height-header-full);
  }

  .header__logo {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
  }

  .header__nav-list {
    display: flex;
  }

  .header__nav a {
    font-size: 15px;
    font-weight: 500;
    padding: 0px 20px;
  }

  /* underline effect */
  .header__nav-item {
    position: relative;
  }

  .header__nav-item::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.37);
    transition: all 400ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
  }

  .header__menu {
    display: none;
  }
}
