.home__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

html{
  scroll-snap-type:y mandatory;
}

section {
  padding: 0 9%;
  scroll-snap-align: start;
}

/* .home__button{
  text-align: center;
  position:relative;
} */

/* .contact{
  position: fixed;
  bottom: 0px;
  right: 16px;
  height: 46px;
  border-radius: 8px 8px 0 0;
  width: 10em;
  text-align: center;
  text-transform: capitalize;
  }
 contact us{
  font-weight: 600;
  color:var(--color-white);
  background-color:var(--color-contact);
} */

/* mobile */
@media screen and (max-width: 768px) {
  .home__main {
    height: 50vh;
    min-width: 540px;
  }

  .home__contact {
    display: none;
  }
}

/* desktop */
@media screen and (min-width: 769px) {
  .home__main {
    min-height: 100vh;
    scroll-snap-align:start;
  }
  .home__main-left {
    position: relative;
    /* bottom: 2em; */
    left: 9em;
  }
  .home__main-text {
    width: 40vw;
  }

  .home__main-text h1 {
    display: inline-block;
    font-size: 58px;
    font-weight: 900;
    line-height: 1.5em;
    margin-bottom: 30px;
  }

  .home__button {
    display: inline-flex;
    max-width: 40%;
    gap: 15px;
  }

  .home__button a {
    transition: all 0.5s ease;
  }

  .home__button-service {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    background-color: #000000;
    padding: 12px 70px;
    border-radius: 35px;
  }

  .home__button-service:hover {
    background-color: #7ad03a;
    transform: translateX(8px);
  }

  .home__button-pricing {
    display: inline-flex;
    font-size: 2rem;
    font-weight: 400;
    border: 1px solid rgb(95, 94, 94);
    padding: 12px 70px;
    border-radius: 35px;
    color: black;
  }

  .home__button-pricing:hover {
    background-color: #fadadd;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(8px);
  }

  .home__button-arrow {
    width: 30px;
    position: relative;
    left: 10px;
  }

  .pet {
    border-radius: 15px;
    background-color: rgb(223, 145, 102);
    padding: 0 10px;
  }

  .happiness {
    border-radius: 15px;
    background-color: rgb(223, 145, 102);
    padding: 0 10px;
  }

  .home__main-sm {
    position: absolute;
    top: 50%;
    left: -8em;
  }

  .home__main-sm img:hover {
    transform: translateY(-4px);
  }

  .home__main-sm img {
    display: block;
    padding: 10px 10px;
    margin: 10px 0;
    transition: all 0.5s ease;
  }

  .home__main-img {
    position: relative;
    top: 8em;
    /* margin: auto; */
  }

  .home__image {
    position: relative;
    max-width: 35vw;
    max-height: 45vh;
    object-fit: cover;
    border-radius: 10px 20% 10px 10px;
    margin-bottom: 15em;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.1);
  }

  .home__img-rect {
    width: 34vw;
    height: 42vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    /* display: inline-block; */
    top: 1em;
    left: 1em;
  }

  @keyframes scroll-blink {
    0% {
      opacity: 0.2;
      transform: translateY(0);
    }
    25% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.6;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
      transform: translateY(-10px);
    }
  }

  .home__main-scroll {
    position: relative;
    width: 34px;
    left: 24em;
    animation-name: scroll-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .home__contact {
    position: sticky;
    display: none;
    bottom: 0;
    right: 0;
  }

}
