@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
  .rate__main{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .rate__title{
    position:relative;
    flex-basis: 130px;
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid rgb(95, 94, 94, 0.5);
  }

  .rate__title p:not(:last-child){
    color: rgb(95, 94, 94);
  }
  .rate__title p:last-child{
    padding-top: 10px;
    font-weight: 600;
  }
  .rate__title h1{
    padding-bottom: 10px;
  }

  .rate__main--content{
    flex-grow:1;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    position: relative;
    /* text-align: center; */
    place-items: center;
  }

  .rate__footer{
    flex-basis:300px;
    background-color: #fadadd;
  }

  .rate__main--price{
    grid-column: 1 /2;
  }

  .rate__main--image{
    grid-column: 2 /3;
  }

  .rate__main--add{
    grid-column: 3 /4;
  }

  .rate__main--content h2{
    padding-bottom: 15px;
    border-bottom: 1.5px dashed rgb(95, 94, 94);
    text-align: center;
  }

  .rate__main--pricelist , .rate__main--addlist{
    margin-top: 10px;
    line-height: 50px;
    text-align: left;
  }

  .rate__main--image img{
    width:250px;
    border-radius: 0 50px 0 0;
  }

  .rate__main--cat{
    grid-column: 1 / -1;
    color:#7ad03a;
  }

  .rate__image-rect {
    width: 16em;
    height: 22em;
    top: 1rem;
    left:40em;
    border: 1px solid rgb(95, 94, 94, 0.5);
    position: absolute;
    /* display: inline-block; */
  }
}