.review__container{
  display:flex;
  gap: 1rem;
  padding:40px 26px 24px;
  height:100%;
  overflow-x:scroll;
  padding: 60px 26px 24px;
  flex-wrap: nowrap;
}

.review__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:fit-content;
}

.review__content{
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-y: hidden;
  align-items: flex-end;
}

.review__header>h1{
  font-size:36px;
  color:var(--container-text);
}

.review__header>p{
  font-size: small;
  color: var(--container-other);
  text-align: center;
}

[class*="review__content--img"]{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid var(--container-other);
  width: fit-content;
  height:fit-content;
  padding: 30px 26px;
}

[class*="review__content--img"]>img{
  width: 336px;
  height: min-content;
  object-fit: cover;
}




@media screen and (max-width: 519px) {
  .review__container{
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
  }
}


@media screen and (min-width:520px) and (max-width:809px){

}
@media screen and (min-width:810px) and (max-width:1199px){

}
@media screen and (min-width:1200px){

}