@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
.review__main{
  height:100vh;
  display:flex;
  flex-direction: column;
}

.review__header{
  margin-top:80px;
  flex-basis: 140px;
  border-bottom: 1px solid rgb(95, 94, 94, 0.5);
  text-align: center;
} 

.review__header p{
  color:rgb(95, 94, 94);
}

.review__button {
  padding: 10px 16px;
  background-color: #81D8D0;
  position: relative;
  display: inline-flex;
  top:20px;
  border-radius: 4px;
  height:44px;
}

.review__button:hover{
  background-color: rgba(224,7,7,1);
  color:rgba(255,255,255,1);
}

.review__header a{
  font-size: 20px;
  font-weight: 500px;
}

.review__content{
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
  top: 60px;
  position: relative;
  place-content: center;
}

.review__content--text{
  display:none;
}

.review__content--imgc{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.review__content--img1{
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.review__content--img4{
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.review__content--img5{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.review__content--img3{
  grid-column: 3 / -2;
  grid-row: 3 / -2;
}

.review__content img{
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: 50% 40%;
  cursor:pointer;
}

.review__content--text {
  visibility:hidden;
}

[class^="review__content--img"]{
  transition: all 350ms;
}

.review__content--img:hover{
  text-align: center;
  background-color: white;
  border-radius: 12px;
  visibility: visible;
}

.review__content:hover .review__content--img:not(:hover) {
  transform: scale(0.9);
}


}