.service__container{
  display:grid;
  gap: 1rem;
  padding:60px 26px 24px;
  height:100%;
}

.service__main-img img{
  width: 100%;
  height:300px;
  object-fit: cover;
}

.service__main-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:16px;
}

.service__main-title h1 , p{
  text-align: center;
}

.service__main-title h1
{
  font-size:36px;
  color:var(--container-text);
}

.service__main-title p{
  font-size:small;
  color:var(--container-other);
  text-align: center;
}


.service__main-img{
  display: grid;
  gap:1.5rem;
}

.service__main-hair,
.service__main-bath,
.service__main-nail{
  height: 420px;
  border: 1px solid var(--container-other);
}


.service__main-img h2 , p{
  padding:10px 20px 0 20px;
  text-align: left;
  color:var(--container-other);
}
.service__main-img h2{
  font-weight: 600;
  font-size:medium;
  color:var(--container-text);
}

.service__main-img p{
  font-size:small;
  line-height: 20px;
}

.service__main-add h2{
  font-weight: 600;
  font-size:medium;
  color:#4cbb17;
  padding:0 20px;
}

.service__main-add p{
  font-size:small;
}

@media screen and (max-width: 519px) {

}
@media screen and (min-width:520px) and (max-width:809px){
  .service__main-img img{
    object-position:  40% 30%;
    object-fit: cover;
  }
}
@media screen and (min-width:810px) and (max-width:1199px){

  .service__container{
    min-height: 80vh;
    padding: 0 12%;
    margin-top: 50px;
  }

  .service__main-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .service__main-title h1{
    padding: 0;
  }

  .service__main-title p{
    padding:0;
  }
}

@media screen and (min-width:1200px){
  .service__container{
    min-height: 100vh;
    padding: 0 12%;
    margin-top: 50px;
  }
  .service__main-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
  }

  .service__main-title{
    position: relative;
    top:20px;
  }

  .service__main-title h1{
    padding: 0;
  }

  .service__main-title p{
    padding:0;
  }

.service__main-img img{
  height:500px;
  border-radius: 0 60px 0 0;
}

  .service__main-hair,
.service__main-bath,
.service__main-nail{
  height: 650px;
  border: 1px solid var(--container-other);
}

.service__main-img h2{
  font-weight: 800;
  font-size:large;
  padding-top: 40px;
}

.service__main-img p{
  font-size:medium;
  font-weight:500;
}

.service__main-add{
  position: relative;
  bottom: 50px;
}
}