@media screen and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
  .service__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align:start;
  }

  .service__main {
    position: relative;
    width: 100%;
    min-height: 8em;
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid rgb(95, 94, 94, 0.5);
  }

  .service__main-title {
    line-height: 3em;
  }
  .service__main-title h2 {
    font-size: 1.5rem;
  }

  .service__main-title p {
    font-size: 1rem;
    color: rgb(95, 94, 94);
  }

  .service__main-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 4em;
    min-height: 40em;
    place-items: center;
  }

  .hair,
  .bath,
  .nail {
    width: 20em;
    height: 25em;
    object-fit: cover;
    border-radius: 0 50px 0 0;
  }

  .service__main-img p {
    position: relative;
    height: 4em;
    text-align: center;
    bottom: 5px;
    background-color: rgb(95, 94, 94, 0.1);
    font-weight: 800;
    font-size: 1.5em;
    padding: 1.5em;
  }

  .service__main-hair,
  .service__main-bath,
  .service__main-nail {
    position: relative;
  }
  .service__hair-rect {
    width: 20em;
    height: 31em;
    border: 1px solid rgb(95, 94, 94, 0.5);
    position: absolute;
    /* display: inline-block; */
    bottom: 1em;
    right: 1em;
  }

  .service__bath-rect {
    width: 20em;
    height: 31em;
    border: 1px solid rgb(95, 94, 94, 0.5);
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .service__nail-rect {
    width: 20em;
    height: 31em;
    border: 1px solid rgb(95, 94, 94, 0.5);
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  .service__main-add {
    padding-left: 6em;
  }
  .service__main-add h2 {
    font-size: 20px;
    padding: 15px 0;
  }
  .service__main-add p {
    display: block;
    font-size: 20px;
    width: 100%;
    color: rgb(95, 94, 94);
    letter-spacing: 1px;
    line-height: 30px;
  }

  .service__main-add span {
    color: #7ad03a;
  }
}